body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

header {
  background: linear-gradient(45deg, #f39c12, #e67e22);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  flex: 1;
}

.header-button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2em;
  font-weight: bold;
  transition: background-color 0.3s;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.header-nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.genre-filter-container {
  position: relative;
  left: 100px; /* Move 200px to the right */
  top: 9px;  /* Move 50px down */
}

.genre-filter-container select {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.genre-filter-container select:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

main {
  padding: 20px;
}

.movie {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  margin-bottom: 20px;
}

.movie img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movie h2 {
  color: #f39c12;
  margin: 0 0 10px 0;
}

.movie p {
  margin: 5px auto; 
  text-align: center; 
  max-width: 600px;   
  padding: 0; 
  display: block; 
}

.movie button {
  padding: 10px;
  background-color: #f39c12;
  color: #1c1c1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.movie button:hover {
  background-color: #e67e22;
}

footer {
  background-color: #1c1c1c;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content p {
  margin: 10px auto;  
  text-align: center; 
  max-width: 600px;   
  word-wrap: break-word; 
  color: #ffffff;
}


.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media img {
  width: 30px;
  height: 30px;
}
